name: steam-workshop-workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  push:
  workflow_dispatch:

jobs:
  update-readme-with-steam-workshop:
    name: Update a README with information about Steam Workshop items
    runs-on: windows-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - name: Update Steam Workshop item statistics
      uses: TechnologicNick/steam-workshop-workflow@master
      with:
        steam_api_key: ${{ secrets.STEAM_API_KEY }}
        workshop_items: '[
          {
            "id": 881254777,
            "add_stats": [
              2448492759
            ],
            "image": "https://raw.githubusercontent.com/SMTheGuild/The-Modpack/master/preview.jpg",
            "source_code": "https://github.com/SMTheGuild/The-Modpack"
          },
          {
            "id": 1396115995,
            "source_code": "https://github.com/TechnologicNick/WASD-Converter"
          },
          {
            "id": 1394654240,
            "source_code": "https://github.com/TechnologicNick/Electromagnets"
          },
          {
            "id": 1428574074,
            "source_code": "https://github.com/TechnologicNick/CameraControls"
          },
          {
            "id": 893341654,
            "source_code": "https://github.com/TechnologicNick/Paintable-Lasers"
          },
          {
            "id": 1616051926,
            "source_code": "https://github.com/TechnologicNick/Scrap-Guard",
            "title": "Scrap Guard"
          }
        ]'
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update Steam Workshop item statistics
        commit_author: GitHub Actions <actions@github.com>

